<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="utf-8">
   <title>緊急避難場所マップ</title>
 </head>
 <body>
   <h1>緊急避難場所マップ</h1>

   <div id="map"  style="width:700px; height:500px"></div>
   <script>
       // Geolocation APIに対応しているかチェック
       if (navigator.geolocation) {
         // Geolocation APIに対応していない場合アラートを表示
         } else {
           alert("この端末では位置情報が取得できません");
           }
       // 現在地取得処理
       function getPosition() {
         // 現在地を取得
         navigator.geolocation.getCurrentPosition(
           // 取得成功した場合
           function(position) {
             /* alert("緯度:"+position.coords.latitude+",経度"+position.coords.longitude); */
             initMap(position.coords.latitude, position.coords.longitude);              
             }
             );
             }
           function initMap(lat, lng) {
           // Google MAPを表示する処理を記述する
           center = {lat:lat, lng:lng}
           /* new google.maps.Map()でマップオブジェクトを生成 */
           var map = new google.maps.Map(document.getElementById('map'), {
             zoom: 16,
             center: center,
           });

           marker = new google.maps.Marker({ // マーカーの追加
           position: center, // マーカーを立てる位置を指定
           map: map, // マーカーを立てる地図を指定
           icon: {
               url: 'https://maps.google.com/mapfiles/ms/icons/green-dot.png',
               scaledSize : new google.maps.Size(50, 50)
               }
             });
           infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
              content: '<div">現在地はここ！</div>' // 吹き出しに表示する内容
            });
           infoWindow.open(map, marker); // 吹き出しの表示(デフォルトで表示させる)
　　　　　　　
　　　　　　  // ********************　ここから下を追加 ********************

           var marker = [];
           var infoWindow = [];
           // ここからDjangoのviews.pyからオブジェクトを取得してループ
           {% for object in object_list %}
               marker[{{forloop.counter0}}] = new google.maps.Marker({
                  position: {lat:{{ object.geom.y }},lng: {{ object.geom.x }} },
                  map: map
                  });
               infoWindow[{{forloop.counter0}}] = new google.maps.InfoWindow({ // 吹き出しの追加
                   content: '<div>' + '{{object.evacuation_site }}' + '</div>' // 吹き出しに表示する内容
                    });
               markerEvent({{forloop.counter0}}, {{ object.geom.y }}, {{ object.geom.x }}, lat, lng, '{{object.evacuation_site}}'); // マーカーにクリックイベントを追加
        
           {% endfor %}
 
       // マーカーにクリックイベントを追加
       function markerEvent(i, lat, lng, c_lat, c_lng, location) {
         marker[i].addListener('click', function() { // マーカーをクリックしたとき
         infoWindow[i].open(map, marker[i]); // 吹き出しの表示
         }); // end marker[i].addListener
       }   // end function markerEvent

     // ********************　ここまでを追加 ********************

     } // end function initMap
   </script>

   <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpQ06tsbCpUa9xtHqYaDdWwKI9MAz1r9c&callback=getPosition">
</script>

</body>
</html>


