venv/
geodjango/tutorial/
*.url
geodjangomapapp.code-workspace
setup.sh
secureData.txt
*.sql
*.zip

*startbootstrap-stylish-portfolio-gh-pages*

postgresql.password
*.pyc
*.pyc
index_map.html
*.geojson
*.txt
geodjango/snapforest/snapforest/settings.py
