venv/
*.url
setup.sh
secureData.txt


postgresql.password
*.pyc
*.pyc
geodjango/tutorial/tutorial/__pycache__/settings.cpython-39.pyc
geodjango/tutorial/tutorial/__pycache__/settings.cpython-39.pyc
geodjango/tutorial/35_yamaguchi_HinanPoint.geojson
